{% extends 'blog/base.html' %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.post_date|date:"d/m/Y H:i" }}</p>
    <div>{{ post.content|safe }}</div>


    <p>Categorias:
        {% for category in post.categories.all %}
            <a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    
    <hr>

    <h3>Comentários</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.author }}</strong> - {{ comment.created_at|date:"d/m/Y H:i" }}<br>
                {{ comment.text }}
            </li>
        {% empty %}
            <p>Sem comentários ainda. Seja o primeiro a comentar!</p>
        {% endfor %}
    </ul>

    <hr>

    <h4>Adicione um comentário</h4>
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Enviar Comentário</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Entre</a> para comentar.</p>
    {% endif %}

    <hr>


        <a href="{% url 'post_edit' post.id %}">Editar</a> |
        <a href="{% url 'post_delete' post.id %}">Excluir</a>

{% endblock %}
